<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.chabicht.codeintelligence.preferences.CodeIntelligencePreferencePage"
            id="com.chabicht.codeintelligence.preferences.CodeIntelligencePreferencePage"
            name="Code Intelligence">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.chabicht.codeintelligence.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
         id="com.chabicht.code_intelligence.completions"
         name="Code Intelligence">
		<proposalCategory
			icon="/icons/completion.png"/>
		<javaCompletionProposalComputer
			requiresUIThread="false"
			class="com.chabicht.code_intelligence.completion.CodeIntelligenceCompletionProposalComputer"
			categoryId="com.chabicht.code_intelligence.codeIntelligenceCategory"
			needsSortingAfterFiltering="true"
			activate="true">
				<partition type="__dftl_partition_content_type"/>
				<partition type="__java_string"/>
				<partition type="__java_singleline_comment"/> <!-- to get NLS templates -->
		</javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.chabicht.code_intelligence.changelistener.Startup">
      </startup>
   </extension>

</plugin>
